<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quant.platform.business.stock.mapper.StockMapper">

    <insert id="insertBatch">
        INSERT INTO stocks (id, code, name, is_delisted, created_at, updated_at)
        VALUES
        <foreach collection="list" item="e" separator=",">
            (
                #{e.id}, #{e.code}, #{e.name}, #{e.isDelisted.code}, #{e.createdAt}, #{e.updatedAt}
            )
        </foreach>
    </insert>

</mapper>
